.search {
  padding: 20px;
  margin-right: 200px;
    display: flex;
    justify-content: center;
  }
  
  .search input[type="text"] {
    /* position: fixed; */
    /* position:absolute; */
    opacity: 0.7;
    padding: 17px;
    margin-bottom: 7px;
    font-size: 17px;
    border: none;
    width: 180%;
    border-bottom: 2px solid #ccc;
  }
  .search input::placeholder{
    font-weight: 500;
    color: solid rgb(78, 74, 87);
  }
  .error{
    font-weight: 500;
    background-color: aliceblue;
    color: red;
    border: light;
    border-color: red;
  }
  .suggestionsContainer {
    position: relative;
    bottom :3px;
    z-index: 5;
    /* top: 30px; */
    right:30px;
    text-decoration: none;
    z-index: 5;
    background-color: white;
    /* height: 5vh;
    overflow: scroll; */
    border: 1px solid #ddd;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    width: 300px;
    /* margin-top: 10px; */
    padding: 10px;
  }
  
  
  
  